.partnersSection {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 64px;
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%);
}
